{% extends 'spaces/base.html' %}
{% load static %}
{% block title %}Register Your Space{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/spaceowner.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/signin.css' %}" />
{% endblock %}
{% block content %}
<div class="main-wrap">
    <div class="breadcrumb">
      <ul>
        <li><a href="{% url 'spaces:index' %}">Home</a></li>
        <li><a href="">Do you have a space?</a></li>
      </ul>
    </div>
    <div class="main">
      <form target="_blank" action="{% url 'spaces:register_space' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="facilities" value="" id="id_facilities">
        <h1>Do you have a space?</h1>
        <h4>Submit your space for listing on our website</h4>
        <section class="info">
          <div class="basic-info">
            <input type="text" name="name" placeholder="Name of space" required>
            <textarea name="description" id="" cols="30" rows="10" placeholder="Space description" required></textarea>
            <div class="facilities">
              <h3>Facilities</h3>
              <div class="checkbox-wrap">
                <div class="checkbox-item">
                  <input type="checkbox" name="waiting-room" id="waiting-room">
                  <p>Waiting room</p>
                </div>
                <div class="checkbox-item">
                  <input type="checkbox" name="Parking" id="Parking">
                  <p>Parking</p>
                </div>
                <div class="checkbox-item">
                  <input type="checkbox" name="wifi" id="wifi">
                  <p>Wifi</p>
                </div>
                <div class="checkbox-item">
                  <input type="checkbox" name="whiteboard" id="whiteboard">
                  <p>Whiteboard</p>
                </div>
                <div class="checkbox-item">
                  <input type="checkbox" name="flat-screen" id="flat-screen">
                  <p>Flat Screen Tv</p>
                </div>
                <div class="checkbox-item">
                  <input type="checkbox" name="restaurant" id="restuarant">
                  <p>Restaurant</p>
                </div>
                <div class="checkbox-item">
                  <input type="checkbox" name="Ensuite Kitchenette" id="Ensuite Kitchenette">
                  <p>Ensuite Kitchenette</p>
                </div>
                
              </div>
              <div class="other-facilities">
                <input type="text" id="other-facilities" placeholder="Other Facilities">
                <button class="add">Add</button>
              </div>
              
            </div>
          </div>
          <div class="other">
            <div class="upload">
              <div class="img-block">
                <!-- <i class="fas fa-images"></i> -->
                <img id="space-image">
              </div>
              <input type="file" name="image" id="img-upload" accept="image/*" onchange="previewImg(event);" required>
              <!-- <button>Upload thumbnail</button> -->
            </div>
            <div class="select-item">
              <label for="capacity">Space capacity</label>
              <select name="capacity" id="capacity" required>
                <option value="1-4">1-4</option>
                <option value="5-9">5-9</option>
                <option value="10-14">10-14</option>
                <option value="15-19">15-19</option>
                <option value="20-29">20-29</option>
                <option value="30+">30+</option>
              </select>
            </div>
            
            <label for="price">Price</label>
            <input name="pricing" type="text" placeholder="Price per hour(N)" required>
            
          </div>
        </section>
        <section class="contact-info">
          <h2>Add Contact Information</h2>
          <select name="state" id="state" required>
            <option value="">Select a state</option>
          </select>
          <select name="lga" id="lga" required>
            <option value="">Select L.G.A</option>
          </select>
          <input name="address" type="text" placeholder="Add Street Address" required>
          <input name="telephone" type="text" placeholder="Add Phone" required>
          <input name="email" type="text" placeholder="Add Email">
          Add Social Media Accounts
          <input name="twitter" type="text" placeholder="Twitter">
          <input name="instagram" type="text" placeholder="Instagram">
          <input name="facebook" type="text" placeholder="Facebook">
          <input type="submit" value="submit" id="submit">
        </section>
        
        
      </form>
      <!-- <form action="" method="post">
        {{ form }}
      </form> -->
    </div>
  </div>
{% endblock %}
{% block domready %}
<script src="{% static 'assets/js/spaceowner.js' %}"></script>
<script src="{% static 'assets/js/signin.js' %}"></script>
{% endblock %}