{% extends 'spaces/base.html' %}
{% load static %}
{% block title %}Register Your Space{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/spaceowner.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/signin.css' %}" />
{% endblock %}
{% block content %}
<div class="register-success">
    <div class="text-wrap">
      <p>Thank you for registering a space with us. We will send you a mail shortly after confirming your Space.</p>
    <button><a href="{% url 'spaces:index' %}">Back to home</a></button>
    </div>
</div>
{% endblock %}
{% block domready %}
<script src="{% static 'assets/js/index.js' %}"></script>
<script src="{% static 'assets/js/signin.js' %}"></script>
{% endblock %}