{% extends 'spaces/base.html' %}
{% load static %}
{% block title %}Workspaces in{% if lga %}{{ lga }},{% endif %} {{ state }} State{% endblock %}
{% block style %}
<!-- <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" /> -->
<link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}" />
{% endblock %}
{% block content %}
<div class="main">
    <div class="breadcrumb">
      <ul>
        <li><a href="{% url 'spaces:index' %}">Home</a></li>
        <li><a href="{% url 'spaces:search' %}?state={{ state }}">
          <span class="state">{{ state }}</span> (
          <span class="number-found-state">{{ statecount }}</span> )</a>
        </li>
        {% if lga %}
        <li><a href="#">
          Workspaces in <span class="lga">{{ lga }}</span> (
          <span class="number-found-city">{{ lgacount.count }}</span> )</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <form action="{% url 'spaces:search' %}" >
      <div class="country form-item">
        <label>Select a Country</label>
        <select name="country" id="country" disabled>
          <option value="Nigeria">Nigeria</option>
        </select>
      </div>
      <div class="state form-item">
        <label>Select a State</label>
        <select name="state" class="state" id="state">
        </select>
      </div>
      <div class="city form-item">
        <label>Select LGA</label>
        <select name="lga" class="lga" id="lga">
          <option value="">Select LGA</option>
        </select>
      </div>
      <button type="submit" id="submit">Find Space</button>
    </form>
    <div class="results-wrap">
      <div class="page-title">
        <h1>
          Workspaces in {% if lga %}<span class="city">{{ lga }}</span>,<br />{% endif %}
          <span class="state">{{ state }}</span>{% if state != 'FCT' %} State{% endif %}
        </h1>
      </div>
      <div class="main-body">
        <section class="aside">
         
          <div class="space-filters">
            <div class="facilities space-filters-item">
              <h3 class="aside-item-title">Facilities</h3>
              <div class="filter-wrap close-filter">
                {% for facility in facility_list %}
                <div class="facilities-item">
                  <p>{{ facility | capfirst }}</p>
                  <input type="checkbox" name="{{ facility | lower }}" id="{{ facility | lower | slugify }}" />
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="attendees space-filters-item">
              <h3 class="">Attendees</h3>
              <select name="attendees" id="attendees">
                <option value="">Any</option>
                <option value="1-4">1-4</option>
                <option value="5-10">5-10</option>
                <option value="10-14">10-14</option>
                <option value="15-19">15-19</option>
                <option value="20-29">20-29</option>
                <option value="30+">30+</option>
              </select>
            </div>
          </div>
        </section>
        <section class="results">
          <div class="first">
            <p class="first-line">
              Spaces in {% if lga %}<span class="city">{{ lga }}</span>,{% endif %}
              <span class="state">{{ state }}</span> State
            </p>
            <div class="sort">
              <p>Sort by:</p>
              <select name="Most liked" id="sort">
                <option value="-created">Newest First</option>
                <option value="created">Oldest First</option>
                <option value="-rating">
                  Rating: High to Low
                </option>
                <option value="rating">
                  Rating: Low to High
                </option>
              </select>
            </div>
          </div>
          <div class="second">
            <p>
              <span class="spaces-found">{{ lgacount.count }} Space{{ lgacount|pluralize }} found.</span>
            </p>
          </div>
          <div class="spaces-wrap">
              {% for space in results %}
            <a href="{{ space.get_absolute_url }}">
              <div class="spaces-item">
                <img src="{{ space.image.url }}" alt="" />
                <div class="space-item-text">
                  <p class="space-name">{{ space.name }}</p>
                  <p class="space-item-location">
                    <i class="fas fa-map-marker-alt"></i> {{ space.state }}, Nigeria.
                  </p>
                </div>
                <div class="like-icon"><i class="far fa-heart"></i></div>
                <div class="ratings">
                  <p class="rating-value">{{ space.rating }}</p>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </a>
            {% empty %}
            <div class="no-results">
            <!-- <img src="assets/img/no-result" alt=""> -->
                <p>Sorry, there are no spaces in your current location. <br>Make another search.</p>
            </div>
             {% endfor %}
             <!-- end of spaces -->
          </div>
             {% if results %}
             {% include "pagination.html" with page=results %}
          {% endif %}
        </section>
      </div>
    </div>
  </div>
{% endblock %}
{% block domready %}
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="{% static 'assets/js/signin.js' %}"></script>
<script src="{% static 'assets/js/filter.js' %}"></script>
{% endblock %}