* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  background-color: #eef1f1;
}
.container {
  height: calc(100vh - 100px);
  max-height: 520px;
  max-width: 1600px;
  margin: 90px auto 30px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container {
  width: 40%;
  min-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  /* background-color: blue; */
}
.form-title {
  display: block;
  width: 100%;
  text-align: left;
}
.form-title h2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 35px;
  line-height: 53px;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

.form-title p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.06em;
  color: #000000;
  /* margin-bottom: 1rem; */
}
.form-data {
  width: 100%;
}
.form-input-container {
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  margin: 1rem 0 0;
  display: flex;
  width: 100%;
  min-width: 500px;
  height: 45px;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}
.form-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #000000;
  width: 100%;
  /* opacity: 0.4; */
  outline-style: none;
  border: none;
  margin-left: 1.2rem;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: transparent;
}
.form-input-container:hover {
  /* border: 1px solid #563bc5; */
}
#message {
  display: none;
  height: 20px;
  background-color: black;
  margin: 10px 0 -10px;
}
.btn-signup {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  height: 45px;
  background: #4623d2;
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 3.2px 16px 40px rgba(96, 57, 251, 0.3);
  border-radius: 5px;
  width: 100%;
  /* max-width: 550px; */
  display: block;
  text-transform: uppercase;
  margin: 1rem 0 0;
  box-sizing: border-box;
}
.select {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  /* justify-content: center; */
}
.form-agreement {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #000;
}
.check {
  margin-right: 1rem;
  /* margin-top: 8px; */
  /* padding: 1.4rem; */
  background: #ffffff;
  border: 4.5px solid #000000;
  border-radius: 6.25px;
}
.img-container {
  width: 40%;
  height: 100%;
  display: block;
}
.form-img {
  width: 100%;
  height: 100%;
  max-height: 520px;
  border-radius: 5px;
}
.signin {
  text-align: center;
  margin-top: 15px;
}
.blue-link {
  color: blue;
}
@media screen and (max-width: 1150px) {
  .container {
    padding: 0 30px;
    min-height: 70vh;
    justify-content: space-around;
  }
  .form-container {
    width: 40%;
    max-height: 550px;
    margin: 0 30px 0 0;
    min-width: 400px;
    align-items: flex-start;
  }
  .form-data {
    /* max-width: 400px; */
    width: 100%;
  }
  .form-input-container,
  .btn-signup {
    width: 100%;
    min-width: unset;
    /* max-width: 400px; */
  }
  .form-input {
    width: 100%;
    margin-top: 0;
  }
  .img-container {
    max-height: 550px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 0;
    height: 100%;
    /* height: calc(100vh - 90px); */
    max-height: 700px;
    min-height: 500px;
    position: relative;
    padding: 0;
  }

  .form-container {
    width: 100%;
    max-width: 700px;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    min-width: unset;
    padding: 20px;
    /* border-radius: 5px; */
    height: 100%;
    /* display: none; */
  }
  .form-title h2 {
    font-size: 28px;
    margin: 0;
  }
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 550px; */
    max-height: unset;
  }
  .form-img {
    height: 100%;
    max-height: none;
    opacity: 0.9;
  }
}
