{% extends 'account/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/signin.css' %}" />
{% endblock %}
{% block content %}
<div class="reset-container">
    <h1>CHANGE PASSWORD</h1>
      <div class="forgot-password-wrap">
        <p>Your password has been changed successfully!</p>
      </div>
</div>
{% endblock %}
{% block domready %}
    <script src="{% static 'assets/js/signin.js' %}"></script>
{% endblock %}
