{% extends 'account/base.html' %}
{% load static %}
{% block title %}Password Reset Link Sent{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/signin.css' %}" />
{% endblock %}
{% block content %}
<div class="reset-container">
    <h1>PASSWORD RESET</h1>
      <div class="forgot-password-wrap">
        <p>{% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}</p>
        <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
      </div>
</div>
{% endblock %}
{% block domready %}
    <script src="{% static 'assets/js/signin.js' %}"></script>
{% endblock %}
