{% extends 'account/base.html' %}
{% load static %}
{% load account %}
{% block title %}Reset Password{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/signin.css' %}" />
{% endblock %}
{% block content %}
<div class="reset-container">
    <h1>PASSWORD RESET</h1>
      <div class="forgot-password-wrap">
          <p>{% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}</p>
        <p>Forgotten your password? Enter your email address below, and we'd send you an email allowing you to reset it.</p>
        <form id="reset-form" action="{% url 'account_reset_password' %}" method="POST">
            {% csrf_token %}
            <input type="email" id="id_email" placeholder="Enter Your Email" name="email">
            <input type="submit" id ="reset-btn" value="Send Email">
          </form>
        </div>
        <p>Please contact us if you have any trouble resetting your password.</p>
</div>
{% endblock %}
{% block domready %}
    <script src="{% static 'assets/js/signin.js' %}"></script>
{% endblock %}
