{% extends 'account/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/signin.css' %}" />
{% endblock %}
{% block content %}
<div class="reset-container">
    <h1>Change Password</h1>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p><span class="danger"><em>{{ error|escape }}</em></span></p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p><span class="danger"><em>{{ error|escape }}</em></span></p>
        {% endfor %}
        {% endif %}
          <div class="forgot-password-wrap">
              <form action="{% url 'account_change_password' %}" method="POST" id="reset-form">
                {% csrf_token %}
                <input type="password" name="oldpassword" id="id_oldpassword" placeholder="Current Password" required>
                <input type="password" name="password1" id="id_password1" placeholder="New Password" required>
                <input type="password" name="password2" id="id_password2" placeholder="Confirm New Password" required>
                <input type="submit" id ="reset-btn" value="Change Password" name="action">
              </form>
          </div>
          <div class="form__text">
            <p class="link__text">
                <a href="{% url 'account_reset_password' %}" class="other-links">Forgot Password?</a>
            </p>
        </div>
</div>
{% endblock %}
{% block domready %}
    <script src="{% static 'assets/js/signin.js' %}"></script>
{% endblock %}
